.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,500 L 0,343 C 88.03846153846152,331.5820512820513 176.07692307692304,320.16410256410256 265,327 C 353.92307692307696,333.83589743589744 443.7307692307693,358.925641025641 522,357 C 600.2692307692307,355.074358974359 667,326.1333333333333 748,317 C 829,307.8666666666667 924.2692307692305,318.54102564102567 991,333 C 1057.7307692307695,347.45897435897433 1095.923076923077,365.70256410256405 1166,368 C 1236.076923076923,370.29743589743595 1338.0384615384614,356.64871794871794 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,343 C 65.28205128205127,327.25897435897434 130.56410256410254,311.51794871794874 214,325 C 297.43589743589746,338.48205128205126 399.025641025641,381.1871794871795 473,383 C 546.974358974359,384.8128205128205 593.3333333333335,345.73333333333335 681,334 C 768.6666666666665,322.26666666666665 897.6410256410254,337.8794871794871 978,351 C 1058.3589743589746,364.1205128205129 1090.1025641025642,374.74871794871797 1159,373 C 1227.8974358974358,371.25128205128203 1333.9487179487178,357.125641025641 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,343 C 90.46923076923076,351.38461538461536 180.93846153846152,359.7692307692308 255,352 C 329.0615384615385,344.2307692307692 386.71538461538466,320.3076923076923 460,322 C 533.2846153846153,323.6923076923077 622.2,351 717,353 C 811.8,355 912.4846153846152,331.6923076923077 986,332 C 1059.5153846153848,332.3076923076923 1105.8615384615384,356.2307692307692 1177,362 C 1248.1384615384616,367.7692307692308 1344.0692307692307,355.38461538461536 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,343 C 67.45128205128205,319.62051282051283 134.9025641025641,296.24102564102566 220,310 C 305.0974358974359,323.75897435897434 407.8410256410257,374.6564102564103 495,386 C 582.1589743589743,397.3435897435897 653.7333333333333,369.1333333333333 725,359 C 796.2666666666667,348.8666666666667 867.2256410256409,356.8102564102564 937,351 C 1006.7743589743591,345.1897435897436 1075.3641025641025,325.625641025641 1159,322 C 1242.6358974358975,318.374358974359 1341.3179487179486,330.6871794871795 1440,343 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,343 C 88.03846153846152,331.5820512820513 176.07692307692304,320.16410256410256 265,327 C 353.92307692307696,333.83589743589744 443.7307692307693,358.925641025641 522,357 C 600.2692307692307,355.074358974359 667,326.1333333333333 748,317 C 829,307.8666666666667 924.2692307692305,318.54102564102567 991,333 C 1057.7307692307695,347.45897435897433 1095.923076923077,365.70256410256405 1166,368 C 1236.076923076923,370.29743589743595 1338.0384615384614,356.64871794871794 1440,343 L 1440,500 L 0,500 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,500 L 0,218 C 60.92051282051281,194.0128205128205 121.84102564102562,170.02564102564102 205,183 C 288.1589743589744,195.97435897435898 393.55641025641035,245.91025641025644 486,245 C 578.4435897435897,244.08974358974356 657.9333333333333,192.33333333333334 735,189 C 812.0666666666667,185.66666666666666 886.7102564102565,230.75641025641025 968,239 C 1049.2897435897435,247.24358974358975 1137.2256410256412,218.6410256410256 1217,209 C 1296.7743589743588,199.3589743589744 1368.3871794871793,208.67948717948718 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,218 C 85.58974358974359,236.35384615384615 171.17948717948718,254.7076923076923 260,261 C 348.8205128205128,267.2923076923077 440.8717948717949,261.5230769230769 517,251 C 593.1282051282051,240.47692307692307 653.3333333333331,225.2 739,223 C 824.6666666666669,220.8 935.7948717948718,231.6769230769231 1002,238 C 1068.2051282051282,244.3230769230769 1089.4871794871794,246.09230769230768 1155,242 C 1220.5128205128206,237.90769230769232 1330.2564102564102,227.95384615384614 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,218 C 85.21025641025639,211.67692307692306 170.42051282051278,205.35384615384615 251,198 C 331.5794871794872,190.64615384615385 407.52820512820506,182.26153846153846 493,200 C 578.4717948717949,217.73846153846154 673.4666666666666,261.6 758,258 C 842.5333333333334,254.39999999999998 916.6051282051283,203.33846153846153 978,186 C 1039.3948717948717,168.66153846153847 1088.1128205128205,185.04615384615386 1163,196 C 1237.8871794871795,206.95384615384614 1338.9435897435897,212.47692307692307 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,218 C 94.83846153846156,210.93589743589746 189.67692307692312,203.8717948717949 255,207 C 320.3230769230769,210.1282051282051 356.13076923076915,223.44871794871793 438,226 C 519.8692307692309,228.55128205128207 647.8000000000002,220.33333333333337 738,216 C 828.1999999999998,211.66666666666663 880.6692307692306,211.21794871794867 948,220 C 1015.3307692307694,228.78205128205133 1097.523076923077,246.7948717948718 1182,248 C 1266.476923076923,249.2051282051282 1353.2384615384615,233.6025641025641 1440,218 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,218 C 60.92051282051281,194.0128205128205 121.84102564102562,170.02564102564102 205,183 C 288.1589743589744,195.97435897435898 393.55641025641035,245.91025641025644 486,245 C 578.4435897435897,244.08974358974356 657.9333333333333,192.33333333333334 735,189 C 812.0666666666667,185.66666666666666 886.7102564102565,230.75641025641025 968,239 C 1049.2897435897435,247.24358974358975 1137.2256410256412,218.6410256410256 1217,209 C 1296.7743589743588,199.3589743589744 1368.3871794871793,208.67948717948718 1440,218 L 1440,500 L 0,500 Z"
    );
  }
}
.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,500 L 0,93 C 66.87692307692308,79.49743589743589 133.75384615384615,65.99487179487178 220,66 C 306.24615384615385,66.00512820512822 411.86153846153843,79.51794871794873 488,80 C 564.1384615384616,80.48205128205127 610.8,67.93333333333332 694,58 C 777.2,48.06666666666668 896.9384615384615,40.74871794871795 979,50 C 1061.0615384615385,59.25128205128205 1105.4461538461537,85.07179487179486 1176,95 C 1246.5538461538463,104.92820512820514 1343.2769230769231,98.96410256410257 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,93 C 74.63076923076923,115.44615384615385 149.26153846153846,137.8923076923077 235,137 C 320.73846153846154,136.1076923076923 417.5846153846153,111.87692307692308 496,103 C 574.4153846153847,94.12307692307692 634.4000000000001,100.60000000000001 706,106 C 777.5999999999999,111.39999999999999 860.8153846153847,115.72307692307693 935,110 C 1009.1846153846153,104.27692307692307 1074.3384615384616,88.50769230769231 1157,84 C 1239.6615384615384,79.49230769230769 1339.8307692307692,86.24615384615385 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,93 C 64.40769230769229,78.73589743589744 128.81538461538457,64.47179487179488 211,55 C 293.1846153846154,45.52820512820512 393.1461538461539,40.84871794871795 486,62 C 578.8538461538461,83.15128205128205 664.5999999999999,130.13333333333333 743,128 C 821.4000000000001,125.86666666666666 892.4538461538464,74.6179487179487 971,61 C 1049.5461538461536,47.382051282051286 1135.5846153846153,71.3948717948718 1215,83 C 1294.4153846153847,94.6051282051282 1367.2076923076925,93.8025641025641 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,93 C 56.25641025641025,109.32051282051282 112.5128205128205,125.64102564102564 196,122 C 279.4871794871795,118.35897435897436 390.2051282051282,94.75641025641025 492,90 C 593.7948717948718,85.24358974358975 686.6666666666666,99.33333333333333 753,103 C 819.3333333333334,106.66666666666667 859.1282051282051,99.91025641025641 929,107 C 998.8717948717949,114.08974358974359 1098.820512820513,135.02564102564102 1189,135 C 1279.179487179487,134.97435897435898 1359.5897435897436,113.98717948717949 1440,93 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,93 C 66.87692307692308,79.49743589743589 133.75384615384615,65.99487179487178 220,66 C 306.24615384615385,66.00512820512822 411.86153846153843,79.51794871794873 488,80 C 564.1384615384616,80.48205128205127 610.8,67.93333333333332 694,58 C 777.2,48.06666666666668 896.9384615384615,40.74871794871795 979,50 C 1061.0615384615385,59.25128205128205 1105.4461538461537,85.07179487179486 1176,95 C 1246.5538461538463,104.92820512820514 1343.2769230769231,98.96410256410257 1440,93 L 1440,500 L 0,500 Z"
    );
  }
}
